.App {
  text-align: center;
}

.App-logo {
  height: 250px;
}

.App-header {
  background-color: #dadada;
  height: 300px;
  padding: 10px;
  color: #222;
}

.App-title {
  font-size: 1.5em;
  text-transform:uppercase;
}

.App-intro {
  font-size: large;
}